<script type="text/javascript">
    $(function() {
        oTable = $('#fundos').dataTable({
            "iDisplayLength": 30,
            "sPaginationType":"full_numbers",
            "bJQueryUI":true,
            "bLengthChange":false,
            "oLanguage":{
                "sInfo":                "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoFiltered":        "Filtrado de _MAX_ registros no total",
                "sZeroRecords":         "Sem resultados",
                "sInfoEmpty":           "",
                "sSearch":              "Buscar",
                "oPaginate": {
                    "sFirst":           "Primeiro",
                    "sPrevious":        "Anterior",
                    "sNext":            "Próximo",
                    "sLast":            "Ultimo"
                }
            }
        });
    });
</script>

<p id="notice"><%= notice %></p>

<h3>Fundos</h3>

<table id="fundos" class="table table-bordered display">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fundos.each do |fundo| %>
      <tr>
        <td><%= fundo.nome %></td>
        <td><%= link_to 'Mostrar', fundo, class: 'btn btn-info' %></td>
        <% if session[:perfil] == "Administrador" %>
		<td><%= link_to 'Editar', edit_fundo_path(fundo), class: 'btn btn-warning' %></td>
		<td><%= link_to 'Apagar', fundo, method: :delete, data: { confirm: 'você tem certeza?' }, class: 'btn btn-danger' %></td>
        <% else %>
          <td></td>
          <td></td>		
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if session[:perfil] == "Administrador" %>
  <%= link_to 'Novo Fundo', new_fundo_path, class: 'btn btn-info' %>
<% end %>
