<p id="notice"><%= notice %></p>

<h3>Fundos</h3>

<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fundos.each do |fundo| %>
      <tr>
        <td><%= fundo.nome %></td>
        <td><%= link_to 'Mostrar', fundo, class: 'btn btn-info' %></td>
        <td><%= link_to 'Editar', edit_fundo_path(fundo), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Apagar', fundo, method: :delete, data: { confirm: 'você tem certeza?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Fundo', new_fundo_path, class: 'btn btn-info' %>
