<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @fundo.nome %>
</p>

<p>
  <strong>Cadastrado por: </strong>
  <%= @fundo.usuario.nomeUsuario %>
</p>

<% if session[:perfil] == "Administrador" %>
  <%= link_to 'Editar', edit_fundo_path(@fundo), class: 'btn btn-warning' %> 
<% end %>
<%= link_to 'Voltar', fundos_path, class: 'btn btn-dark active' %>
