<%= form_with(model: bioterio, local: true) do |form| %>
  <% if bioterio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bioterio.errors.count, "error") %> prohibited this bioterio from being saved:</h2>

      <ul>
      <% bioterio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :local, "Local" %>
    <%= form.text_field :local %>
  </div>

  <div class="field">
    <%= form.label :unidade, "Unidade" %>
    <%= form.text_field :unidade %>
  </div>

  <div class="field">
    <%= form.label :idcuica, "Identificador CUICA (ID)" %>
    <%= form.text_field :idcuica %>
  </div>

  <div class="field">
    <%= form.label :nivelsanitario, "Nível sanitário" %>
    <%= form.radio_button :nivelsanitario, 'NB1' %> NB1
    <%= form.radio_button :nivelsanitario, 'NB2' %> NB2
    <%= form.radio_button :nivelsanitario, 'NB3' %> NB3
    <%= form.radio_button :nivelsanitario, 'NB4' %> NB4
  </div>

  <div class="field">
    <%= form.label :mta, "MTA Necessário" %>
    <%= form.radio_button :mta, true %> Sim
    <%= form.radio_button :mta, false %> Não
  </div>

  <div class="field">
    <%= form.label :responsavel, "Responsável" %>
    <%= form.text_area :responsavel %>
  </div>

  <div class="field">
    <%= form.label :telcontato, "Telefone de contato" %>
    <%= form.text_field :telcontato %>
  </div>

  <div class="field">
    <%= form.label :emailcontato, "E-mail de contato" %>
    <%= form.text_field :emailcontato %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar" %>
  </div>
<% end %>
