<script type="text/javascript">
    $(function() {
        oTable = $('#bioterios').dataTable({
            "iDisplayLength": 30,
            "sPaginationType":"full_numbers",
            "bJQueryUI":true,
            "bLengthChange":false,
            "oLanguage":{
                "sInfo":                "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoFiltered":        "Filtrado de _MAX_ registros no total",
                "sZeroRecords":         "Sem resultados",
                "sInfoEmpty":           "",
                "sSearch":              "Buscar",
                "oPaginate": {
                    "sFirst":           "Primeiro",
                    "sPrevious":        "Anterior",
                    "sNext":            "Próximo",
                    "sLast":            "Ultimo"
                }
            }
        });
    });
</script>

<p id="notice"><%= notice %></p>

<h3>Biotérios</h3>

<table id="bioterios" class="table table-bordered display">
  <thead>
    <tr>
      <th>Local</th>
      <th>Unidade</th>
      <th>ID CUICA</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bioterios.each do |bioterio| %>
      <tr>
        <td><%= bioterio.local %></td>
        <td><%= bioterio.unidade %></td>
        <td><%= bioterio.idcuica %></td>
        <td><%= link_to 'Detalhes', bioterio, class: 'btn btn-info'  %></td>
        <% if session[:perfil] == "Administrador" %>
          <td><%= link_to 'Editar', edit_bioterio_path(bioterio), class: 'btn btn-warning'  %></td>
          <td><%= link_to 'Apagar', bioterio, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if session[:perfil] == "Administrador" %>
  <%= link_to 'Novo Biotério', new_bioterio_path, class: 'btn btn-info'  %>
<% end %>
