<p id="notice"><%= notice %></p>

<h3>Biotérios</h3>

<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Local</th>
      <th>Unidade</th>
      <th>ID CUICA</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bioterios.each do |bioterio| %>
      <tr>
        <td><%= bioterio.local %></td>
        <td><%= bioterio.unidade %></td>
        <td><%= bioterio.idcuica %></td>
        <td><%= link_to 'Detalhes', bioterio, class: 'btn btn-info'  %></td>
        <% if session[:perfil] == "Administrador" %>
          <td><%= link_to 'Editar', edit_bioterio_path(bioterio), class: 'btn btn-warning'  %></td>
          <td><%= link_to 'Apagar', bioterio, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if session[:perfil] == "Administrador" %>
  <%= link_to 'Novo Biotério', new_bioterio_path, class: 'btn btn-info'  %>
<% end %>
