<p id="notice"><%= notice %></p>

<p>
  <strong>Local:</strong>
  <%= @bioterio.local %>
</p>

<p>
  <strong>Unidade:</strong>
  <%= @bioterio.unidade %>
</p>

<p>
  <strong>ID CUICA:</strong>
  <%= @bioterio.idcuica %>
</p>

<p>
  <strong>Nível sanitário:</strong>
  <%= @bioterio.nivelsanitario %>
</p>

<p>
  <strong>MTA Necessário:</strong>
  <%= @bioterio.mta == true ? "Sim" : "Não" %>
</p>

<p>
  <strong>Responsável:</strong>
  <%= @bioterio.responsavel %>
</p>
<p>
  <strong>Telefone de contato:</strong>
  <%= @bioterio.telcontato %>
</p>
<p>
  <strong>E-mail de contato:</strong>
  <%= @bioterio.emailcontato %>
</p>

<%= link_to 'Editar', edit_bioterio_path(@bioterio) %> |
<%= link_to 'Voltar', bioterios_path %>
