<p id="notice"><%= notice %></p>

<p>
  <strong>Início da coluna USP (ano):</strong>
  <%= @repositorio.anoiniciocolonia %>
</p>

<p>
  <strong>Método do acasalamento:</strong>
  <%= @repositorio.metodoacasalamento %>
</p>

<p>
  <strong>Referência de construção/uso (link):</strong>
  <%= @repositorio.linkrefconstr %>
</p>

<p>
  <strong>Nível de segurança:</strong>
  <%= @repositorio.nivelseguranca %>
</p>

<p>
  <strong>CQB:</strong>
  <%= @repositorio.cqb %>
</p>

<p>
  <strong>Genótipo:</strong>
  <%= @repositorio.genotipo.nome %>
</p>

<p>
  <strong>Biotério:</strong>
  <%= @repositorio.bioterio.full_bioterio %>
</p>

<p>
  <strong>Origem:</strong>
  <%= @repositorio.origem.full_origem %>
</p>

<p>
  <strong>Fenótipo:</strong>
  <%= @repositorio.fenotipo.nome %>
</p>

<p>
  <strong>Gene alvo:</strong>
  <%= @repositorio.genealvo.nomeoficial %>
</p>

<% if @repositorio.primerdorepositorios.any? %>

    <h3> Primers associados </h3>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="text-center"> Primer </th>
        <th class="text-center"> Protocolo PCR </th>
        <th class="text-center"> Gel de acarose </th>
      </tr>
      </thead>
      <tbody>

      <% @repositorio.primerdorepositorios.each do |pr| %>
          <tr>
            <td> <%= pr.primer.descricao %> </td>
            <td> <%= pr.primer.protocolopcr %> </td>
            <td> <%= pr.primer.geldeacarose %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <h3> Não há primer informado até o momento </h3>
<% end %>


<% if @repositorio.linfundorepositorios.any? %>

    <h3> Linhagem/Fundo associados </h3>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="text-center"> Linhagem </th>
        <th class="text-center"> Fundo </th>
      </tr>
      </thead>
      <tbody>

      <% @repositorio.linfundorepositorios.each do |lf| %>
          <tr>
            <td> <%= lf.linhagem.nome %> </td>
            <td> <%= lf.fundo.nome %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <h3> Não há Linhagem/Fundo informado até o momento </h3>
<% end %>

<%= link_to 'Editar', edit_repositorio_path(@repositorio) %> |
<%= link_to 'Voltar', repositorios_path %>
