<p id="notice"><%= notice %></p>

<p>
  <strong>Tipovinculo:</strong>
  <%= @tipo_vinculo.tipoVinculo %>
</p>

<p>
  <strong>Codigosetor:</strong>
  <%= @tipo_vinculo.codigoSetor %>
</p>

<p>
  <strong>Nomeabreviadsetor:</strong>
  <%= @tipo_vinculo.nomeAbreviadSetor %>
</p>

<p>
  <strong>Nomesetor:</strong>
  <%= @tipo_vinculo.nomeSetor %>
</p>

<p>
  <strong>Codigounidade:</strong>
  <%= @tipo_vinculo.codigoUnidade %>
</p>

<p>
  <strong>Siglaunidade:</strong>
  <%= @tipo_vinculo.siglaUnidade %>
</p>

<p>
  <strong>Nomeunidade:</strong>
  <%= @tipo_vinculo.nomeUnidade %>
</p>

<p>
  <strong>Nomevinculo:</strong>
  <%= @tipo_vinculo.nomeVinculo %>
</p>

<p>
  <strong>Nomeabreviadofuncao:</strong>
  <%= @tipo_vinculo.nomeAbreviadoFuncao %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @tipo_vinculo.usuario %>
</p>

<%= link_to 'Edit', edit_tipo_vinculo_path(@tipo_vinculo) %> |
<%= link_to 'Back', tipo_vinculos_path %>
