<p id="notice"><%= notice %></p>

<h3>Genótipos</h3>

<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @genotipos.each do |genotipo| %>
      <tr>
        <td><%= genotipo.nome %></td>
        <td><%= link_to 'Mostrar', genotipo, class: 'btn btn-info' %></td>
        <td><%= link_to 'Editar', edit_genotipo_path(genotipo), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Apagar', genotipo, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Genótipo', new_genotipo_path , class: 'btn btn-info'%>
