<script type="text/javascript">
    $(function() {
        oTable = $('#linhagens').dataTable({
            "iDisplayLength": 30,
            "sPaginationType":"full_numbers",
            "bJQueryUI":true,
            "bLengthChange":false,
            "oLanguage":{
                "sInfo":                "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoFiltered":        "Filtrado de _MAX_ registros no total",
                "sZeroRecords":         "Sem resultados",
                "sInfoEmpty":           "",
                "sSearch":              "Buscar",
                "oPaginate": {
                    "sFirst":           "Primeiro",
                    "sPrevious":        "Anterior",
                    "sNext":            "Próximo",
                    "sLast":            "Ultimo"
                }
            }
        });
    });
</script>


<p id="notice"><%= notice %></p>

<h3>Linhagens</h3>

<% if session[:perfil] == "Administrador" %>
  <%= link_to 'Nova Linhagem', new_linhagem_path, class: 'btn btn-info' %>
<% end %>

<br>
<br>

<p><%= image_tag("ouro.jpg", border: 0, height: 40, width: 40) %> - Classificação Ouro - Completo 
<%= image_tag("verde.jpg", border: 0, height: 40, width: 40) %> - Classificação Verde - Faltam poucas informações 
<%= image_tag("vermelho.jpg", border: 0, height: 40, width: 40)  %> - Classificação Vermelho - Faltam muitas informações </p>

<br>
<br>

<table id="linhagens" class="table table-bordered display">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Biotério</th>
      <th>Ativo/Inativo</th>
      <th>Ranking <th>
      <th></th>
      <th></th>
      <th>Classificar</th>
    </tr>
  </thead>

  <tbody>
    <% @linhagems.each do |linhagem| %>
      <tr>
        <td><%= linhagem.nome %></td>
        <td><%= linhagem.bioterio.full_bioterio %> </td>
        <td><%= linhagem.habilitado == true ? "Ativo" : "Inativo" %></td>
        <% if linhagem.classificacao == "ouro" %>
          <td> <%= image_tag("ouro.jpg", border: 0, height: 40, width: 40) %></td>
        <% elsif linhagem.classificacao == "verde" %>
          <td><%= image_tag("verde.jpg", border: 0, height: 40, width: 40) %></td>
        <% elsif linhagem.classificacao == "vermelho" %>
          <td> <%= image_tag("vermelho.jpg", border: 0, height: 40, width: 40) %></td>
        <% else %>
          <td>Sem classificação </td>
        <% end %>
        <td><%= link_to 'Mostrar', linhagem, class: 'btn btn-info' %></td>
        <% if session[:perfil] == "Administrador" %>
        	<td><%= link_to 'Editar', edit_linhagem_path(linhagem), class: 'btn btn-warning' %></td>

          <% if linhagem.habilitado == true %>
        	  <td><%= link_to 'Desabilitar', linhagem, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %></td>
          <% else %>
            <% if session[:perfil] == "Administrador" %>  
              <td><%= link_to 'Habilitar', ativalin_path(linhagem), class: 'btn btn-success' %></td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
       	<% else %>
	      <td></td>
	      <td></td>         	
        <% end %>
        <% if session[:perfil] == "Administrador" %>        
		<td><%= link_to image_tag("ouro.jpg", border: 0, height: 40, width: 40), classifica_path(linhagem, :valor => "ouro" )  %>
		    <%= link_to image_tag("verde.jpg", border: 0, height: 40, width: 40), classifica_path(linhagem, :valor => "verde")  %>
		    <%= link_to image_tag("vermelho.jpg", border: 0, height: 40, width: 40), classifica_path(linhagem, :valor => "vermelho")  %>
		</td>
	<% else %>
		<td></td>
        <% end %>        
      </tr>
    <% end %>
  </tbody>
</table>

