<p id="notice"><%= notice %></p>

<h3>Linhagens</h3>

<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @linhagems.each do |linhagem| %>
      <tr>
        <td><%= linhagem.nome %></td>
        <td><%= link_to 'Mostrar', linhagem, class: 'btn btn-info' %></td>
        <td><%= link_to 'Editar', edit_linhagem_path(linhagem), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Apagar', linhagem, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Linhagem', new_linhagem_path, class: 'btn btn-info' %>
