<%= form_tag(resultindex_path, method: "get") do  %>
    <h3> Busca por: </h3>

    <p>
        <%= label_tag(:bioterio,  "Escolha um biotério ") %>
        <%= select_tag :bioterio, options_from_collection_for_select(Bioterio.all, :id, :full_bioterio), include_blank:true %>

    </p>

    <%= submit_tag "Enviar" , class: "btn btn-default" %>
<% end %>


<h1>Listagem de linhagens - Busca </h1>

<table id="linhagens" class="table table-bordered display">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Biotério</th>
      <th>Ranking <th>      
      <th></th>
      <th></th>
      <th>Classificar</th>
    </tr>
  </thead>

  <tbody>
    <% @result.each do |linhagem| %>
      <tr>
        <td><%= linhagem.nome %></td>
        <td><%= linhagem.bioterio.full_bioterio %> </td>
        <% if linhagem.classificacao == "ouro" %>
          <td> <%= image_tag("ouro.jpg", border: 0, height: 40, width: 40) %></td>
        <% elsif linhagem.classificacao == "verde" %>
          <td><%= image_tag("verde.jpg", border: 0, height: 40, width: 40) %></td>
        <% elsif linhagem.classificacao == "vermelho" %>
          <td> <%= image_tag("vermelho.jpg", border: 0, height: 40, width: 40) %></td>
        <% else %>
          <td>Sem classificação </td>
        <% end %>
        <td><%= link_to 'Mostrar', linhagem, class: 'btn btn-info' %></td>
        <% if session[:perfil] == "Administrador" %>
          <td><%= link_to 'Editar', edit_linhagem_path(linhagem), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Apagar', linhagem, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %></td>
        <% end %>
        <td><%= link_to image_tag("ouro.jpg", border: 0, height: 40, width: 40), classifica_path(linhagem, :valor => "ouro" )  %>
            <%= link_to image_tag("verde.jpg", border: 0, height: 40, width: 40), classifica_path(linhagem, :valor => "verde")  %>
            <%= link_to image_tag("vermelho.jpg", border: 0, height: 40, width: 40), classifica_path(linhagem, :valor => "vermelho")  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

