<p id="notice"><%= notice %></p>

<h3>Gene alvo</h3>

<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome oficial</th>
      <th>Símbolo</th>
      <th>Site de referência</th>
      <th>Gene secundário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @genealvos.each do |genealvo| %>
      <tr>
        <td><%= genealvo.nomeoficial %></td>
        <td><%= genealvo.simbolo %></td>
        <td><%= genealvo.sitereferencia %></td>
        <% if session[:perfil] == "Administrador" %>
          <td><%= link_to 'Gene secundário', genesecundarios_path(:idalvo => genealvo.id), class: "btn btn-default" %></td>
          <td><%= link_to 'Mostrar', genealvo, class: 'btn btn-info' %></td>
          <td><%= link_to 'Editar', edit_genealvo_path(genealvo), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Apagar', genealvo, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger'  %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if session[:perfil] == "Administrador" %>
  <%= link_to 'Novo Gene Alvo', new_genealvo_path, class: 'btn btn-info' %>
<% end %>
