<p id="notice"><%= notice %></p>

<h1>Gene alvos</h1>

<table>
  <thead>
    <tr>
      <th>Nome oficial</th>
      <th>Símbolo</th>
      <th>Site de referência</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @genealvos.each do |genealvo| %>
      <tr>
        <td><%= genealvo.nomeoficial %></td>
        <td><%= genealvo.simbolo %></td>
        <td><%= genealvo.sitereferencia %></td>
        <td><%= link_to 'Mostrar', genealvo %></td>
        <td><%= link_to 'Editar', edit_genealvo_path(genealvo) %></td>
        <td><%= link_to 'Apagar', genealvo, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Gene alvo', new_genealvo_path %>
