<p id="notice"><%= notice %></p>

<p>
  <strong>Nome oficial:</strong>
  <%= @genealvo.nomeoficial %>
</p>

<p>
  <strong>Símbolo:</strong>
  <%= @genealvo.simbolo %>
</p>

<p>
  <strong>Site/Local de referência:</strong>
  <%= @genealvo.sitereferencia %>
</p>

<% if session[:perfil] == "Administrador" %>
  <%= link_to 'Editar', edit_genealvo_path(@genealvo), class: 'btn btn-warning' %> 
<% end %>
<%= link_to 'Voltar', genealvos_path, class: 'btn btn-dark active' %>
