<%= form_with(model: primer, local: true) do |form| %>
  <% if primer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(primer.errors.count, "error") %> prohibited this primer from being saved:</h2>

      <ul>
      <% primer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao, "Descrição" %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :protocolopcr, "Protocolo PCR " %>
    <%= form.text_field :protocolopcr %>
  </div>

  <div class="field">
    <%= form.label :geldeacarose, "Gel de aGarose" %>
    <%= form.text_field :geldeacarose %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar" %>
  </div>
<% end %>
