<script type="text/javascript">
    $(function() {
        oTable = $('#primers').dataTable({
            "iDisplayLength": 30,
            "sPaginationType":"full_numbers",
            "bJQueryUI":true,
            "bLengthChange":false,
            "oLanguage":{
                "sInfo":                "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoFiltered":        "Filtrado de _MAX_ registros no total",
                "sZeroRecords":         "Sem resultados",
                "sInfoEmpty":           "",
                "sSearch":              "Buscar",
                "oPaginate": {
                    "sFirst":           "Primeiro",
                    "sPrevious":        "Anterior",
                    "sNext":            "Próximo",
                    "sLast":            "Ultimo"
                }
            }
        });
    });
</script>


<p id="notice"><%= notice %></p>

<h3>Primers</h3>

<table id="primers" class="table table-bordered display">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Protocolo PCR</th>
      <th>Gel de aGarose</th>
      <th>Cadastrado por</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @primers.each do |primer| %>
      <tr>
        <td><%= primer.descricao %></td>
        <td><%= primer.protocolopcr %></td>
        <td><%= primer.geldeacarose %></td>
        <td><%= primer.usuario.nomeUsuario %></td>
        <td><%= link_to 'Mostrar', primer, class: 'btn btn-info'  %></td>
        <% if session[:perfil] == "Administrador" %>
          <td><%= link_to 'Editar', edit_primer_path(primer), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Apagar', primer, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %></td>
        <% else %>
	      <td></td>
	      <td></td>          
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Novo Primer', new_primer_path, class: 'btn btn-info'  %>
