<p id="notice"><%= notice %></p>

<h1>Primers</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Protocolopcr</th>
      <th>Geldeacarose</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @primers.each do |primer| %>
      <tr>
        <td><%= primer.descricao %></td>
        <td><%= primer.protocolopcr %></td>
        <td><%= primer.geldeacarose %></td>
        <td><%= link_to 'Show', primer %></td>
        <td><%= link_to 'Edit', edit_primer_path(primer) %></td>
        <td><%= link_to 'Destroy', primer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Primer', new_primer_path %>
