<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @primer.descricao %>
</p>

<p>
  <strong>Protocolo PCR:</strong>
  <%= @primer.protocolopcr %>
</p>

<p>
  <strong>Gel de acarose:</strong>
  <%= @primer.geldeacarose %>
</p>

<% if session[:perfil] == "Administrador" %>
  <%= link_to 'Editar', edit_primer_path(@primer), class: 'btn btn-warning' %> 
<% end %>
<%= link_to 'Voltar', primers_path, class: 'btn btn-dark active'  %>
