<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @primer.descricao %>
</p>

<p>
  <strong>Protocolo PCR:</strong>
  <%= @primer.protocolopcr %>
</p>

<p>
  <strong>Gel de acarose:</strong>
  <%= @primer.geldeacarose %>
</p>

<%= link_to 'Editar', edit_primer_path(@primer) %> |
<%= link_to 'Voltar', primers_path %>
