<%= form_with(model: origem, local: true) do |form| %>
  <% if origem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(origem.errors.count, "error") %> prohibited this origem from being saved:</h2>

      <ul>
      <% origem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :instituicao, "Instituição" %>
    <%= form.text_field :instituicao %>
  </div>

  <div class="field">
    <%= form.label :sigla, "Sigla" %>
    <%= form.text_field :sigla %>
  </div>

  <div class="field">
    <%= form.label :endereco, "Endereço" %>
    <%= form.text_field :endereco %>
  </div>

  <div class="field">
    <%= form.label :observacao, "Observação" %>
    <%= form.text_field :observacao %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar" %>
  </div>
<% end %>
