<p id="notice"><%= notice %></p>

<h1>Origems</h1>

<table>
  <thead>
    <tr>
      <th>Instituição</th>
      <th>Sigla</th>
      <th>Endereço</th>
      <th>Observação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @origems.each do |origem| %>
      <tr>
        <td><%= origem.instituicao %></td>
        <td><%= origem.sigla %></td>
        <td><%= origem.endereco %></td>
        <td><%= origem.observacao %></td>
        <td><%= link_to 'Mostrar', origem %></td>
        <td><%= link_to 'Editar', edit_origem_path(origem) %></td>
        <td><%= link_to 'Apagar', origem, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Origem', new_origem_path %>
