<p id="notice"><%= notice %></p>

<h3>Origens</h3>

<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Instituição</th>
      <th>Sigla</th>
      <th>Endereço</th>
      <th>Observação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @origems.each do |origem| %>
      <tr>
        <td><%= origem.instituicao %></td>
        <td><%= origem.sigla %></td>
        <td><%= origem.endereco %></td>
        <td><%= origem.observacao %></td>
        <td><%= link_to 'Mostrar', origem, class: 'btn btn-info' %></td>
        <% if session[:perfil] == "Administrador" %>
          <td><%= link_to 'Editar', edit_origem_path(origem), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Apagar', origem, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if session[:perfil] == "Administrador" %>
  <%= link_to 'Nova Origem', new_origem_path, class: 'btn btn-info' %>
<% end %>