<script type="text/javascript">
    $(function() {
        oTable = $('#origens').dataTable({
            "iDisplayLength": 30,
            "sPaginationType":"full_numbers",
            "bJQueryUI":true,
            "bLengthChange":false,
            "oLanguage":{
                "sInfo":                "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoFiltered":        "Filtrado de _MAX_ registros no total",
                "sZeroRecords":         "Sem resultados",
                "sInfoEmpty":           "",
                "sSearch":              "Buscar",
                "oPaginate": {
                    "sFirst":           "Primeiro",
                    "sPrevious":        "Anterior",
                    "sNext":            "Próximo",
                    "sLast":            "Ultimo"
                }
            }
        });
    });
</script>

<p id="notice"><%= notice %></p>

<h3>Origens</h3>

<table id="origens" class="table table-bordered display">
  <thead>
    <tr>
      <th>Instituição</th>
      <th>Sigla</th>
      <th>Endereço</th>
      <th>Observação</th>
      <th>Cadastrado por</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @origems.each do |origem| %>
      <tr>
        <td><%= origem.instituicao %></td>
        <td><%= origem.sigla %></td>
        <td><%= origem.endereco %></td>
        <td><%= origem.observacao %></td>
        <td><%= origem.usuario.nomeUsuario %></td>
        <td><%= link_to 'Mostrar', origem, class: 'btn btn-info' %></td>
        <% if session[:perfil] == "Administrador" %>
          <td><%= link_to 'Editar', edit_origem_path(origem), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Apagar', origem, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %></td>
        <% else %>
	      <td></td>
	      <td></td>          
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Nova Origem', new_origem_path, class: 'btn btn-info' %>

