<p id="notice"><%= notice %></p>

<p>
  <strong>Instituição:</strong>
  <%= @origem.instituicao %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @origem.sigla %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @origem.endereco %>
</p>

<p>
  <strong>Observação:</strong>
  <%= @origem.observacao %>
</p>

<%= link_to 'Editar', edit_origem_path(@origem) %> |
<%= link_to 'Voltar', origems_path %>
